<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aweboo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/themes/{{ theme }}">
  </head>

  <body>
    <script src='/static/js/uiElements.js'></script>
    <script src='/static/js/uiPlatform.js'></script>

    <div class='nav-bar'>
      <a><div class='nav-element'></div></a>
      <a><div class='nav-element'></div></a>
      <a><div class='nav-element'><img id='user-pfp'></div></a>
      <a><div class='nav-element'></div></a>
      <a><div class='nav-element'></div></a>
    </div>
  </body>

</html>
